
@{
    ViewData["Title"] = "AccessDenied";
}


<div class="row">


    <div class="col-md-6 offset-md-3">
        <h1>Erişim Engellendi</h1>
        <div class="alert alert-danger" role="alert">
            Bu sayfaya erişiminiz yoktur <a href="/" class="alert-link">Anasayfaya dönün.</a>. 
        </div>
    </div>
</div>



