
@{
    ViewData["Title"] = "CustomError";
}



<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Hata Meydena Geldi !</h1>
        <div class="row mt-3">
            <div class="alert alert-danger">
                <p>Karşılaşılan Hata:</p>
                @if (ViewBag.ErrorMessage != null)
                {
                    <p>@ViewBag.ErrorMessage</p>
                }
                else
                {
                    <p>test</p>
                }


            </div>
        </div>
    </div>
</div>

