@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">3. Ödev</h1>
    <p>Kitaplara göz atmak için  <a asp-controller="Books" asp-action="Index" asp-route-pageNumber="1">tıklayın</a>.</p>
</div>
