
@{
    ViewData["Title"] = "Create";
}

@model CreateBookViewModel

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Kitap Ekle</h1>
        <form asp-controller="Books" asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label">Kitap İsmi</label>
                <input asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" for="ImageFile">Kitap Resmi</label>
                <input type="file" asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Özet</label>
                <textarea asp-for="Summary" class="form-control" placeholder="" style="height: 100px"></textarea>
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Yazar</label>
                <select class="form-select" asp-items="ViewBag.Authors" name="AuthorId">
                    <option value="" selected>Yazar Seçin</option>
                </select>
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Yayın Yılı</label>
                <input asp-for="PublicationYear" class="form-control">
                <span asp-validation-for="PublicationYear" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">ISBN No</label>
                <input asp-for="ISBN" class="form-control">
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Tür</label>
                <input asp-for="Genre" class="form-control">
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Yayıncı</label>
                <input asp-for="Publisher" class="form-control">
                <span asp-validation-for="Publisher" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Sayfa Sayısı</label>
                <input asp-for="PageCount" class="form-control">
                <span asp-validation-for="PageCount" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Yazıldığı Dil</label>
                <input asp-for="Language" class="form-control">
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Mevcut Kopya Sayısı</label>
                <input asp-for="AvailableCopies" class="form-control">
                <span asp-validation-for="AvailableCopies" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


