
@{
    ViewData["Title"] = "Search";
}

<h1>Kitap Ara</h1>

<div class="row mt-3">
    <div class="row">
        <form class="form-inline my-2 my-lg-0">
            <input id="headerSearch" class="form-control mr-sm-2"  placeholder="Kitap adı,Yazar adı,Yayın yılı,ISBN,Tür,Yayın evi ile arama yapabilirsin" aria-label="Search">
            <div class="loading-spinner spinnerSearch d-none ">
                <img src="https://i.gifer.com/ZKZg.gif" alt="Loading..." style="width: 100%;">
            </div>
        </form>
    </div>

    <div id="bookSearchResult" class="row mt-5">

    </div>

</div>

@section Scripts
{
    <script src="~/js/Books/Search/search.js"></script>

}

