
@{
    ViewData["Title"] = "Profile";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Profil Bilgileri</h1>
        <a asp-controller="Auth" asp-action="Create" class="btn btn-success mt-3">Profil Güncelle</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Kullanıcı Adı</th>
                    <th scope="col">Email</th>
                    <th scope="col">Şehir</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>asd</td>
                    <td>Otato</td>
                    <td>Kocaeli</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

